.GH {
  background-color: rgb(46, 164, 79);
  border: none;  
  color: white;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  vertical-align: top;
  transition: box-shadow 0.15s;
}
.GH:hover {
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}