p {font-family: Arial, Helvetica, sans-serif; vertical-align: top; padding: 0 0 0 10px; margin: 5px 0 0 0 0;}
.background {background-color: rgb(30, 30, 30); height: 80px; width: 240px;}
.install {font-weight: bold; margin-top: 10px; padding-top: 5px; color: white;}
.desktop {color: grey; font-size: 10px; width: 225px;}