input {padding: 12px 16px 12 16px; width: 100px; border-width: 1px; border-style: solid; border-radius: 8px;}
.first {width: 148px;}
.last {width: 148px;}
.mail {display: block; width: 300px;}
button {background-color: rgb(rgb(29, 156, 240)); color: white; border: none; width: 300px; border-radius: 8px; font-weight: bold;}